/* ==================================================================================================== */
/* Общие настройки тела */
#bodyContainer{
    height: 95%;
    width: 100%;
}
#body{
    overflow: auto;
    height: 100%;
    margin: 0 50px 0 50px;
}
::-webkit-scrollbar {
    display: none;
}
.text{  
    color: #F8F8F2;
    font-size: large;
}
.title{
    text-align: center;
    font-size: 30pt;
}
.var{
    width: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: justify;
}
.container > div{
    margin-top: 10px;
}
#containerLogoEnterRegister{
    display: flex;
    justify-content: flex-end;
    color: #AE81FF;
    font-size: 15pt;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}
#exit{
    display: flex;
    flex-direction: row;
}
#exit > img{
    width: 25px;
}
/* ==================================================================================================== */
/* Главная страница */

/* ==================================================================================================== */
/* Основы JavaSript */

/* ==================================================================================================== */
/* Практика */

/* ==================================================================================================== */
/* О сайте */

/* ==================================================================================================== */