/* ==================================================================================================== */
/* Общие настройки тела */
#bodyContainer{
    height: 95%;
    width: 100%;
}
#body{
    overflow: auto;
    height: 100%;
    margin: 0 50px 0 50px;
}
::-webkit-scrollbar {
    display: none;
}
.text{  
    color: black;
    font-size: large;
}
.title{
    text-align: center;
    font-size: 30pt;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: justify;
}
.container > div{
    margin-top: 10px;
}
#containerLogoEnterRegister{
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 15pt;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}
#exit{
    display: flex;
    flex-direction: row;
}
#exit > img{
    width: 25px;
}

.link
{
    cursor: pointer;
}
.link:hover{
    color: #E42647;
}
/* ==================================================================================================== */
/* Главная страница */

/* ==================================================================================================== */
/* Основы JavaSript */

/* ==================================================================================================== */
/* Практика */
.buttonDownloadLaboratoryWork{
    width: 100px;
    background-color: #6CA300;
    margin-left: 5px;
}
.buttonTakeTheTest{
    width: 100px;
    background-color: #BCAA00;
    margin-left: 5px;
}
.questionElement{
    display: flex;
    flex-direction: column;
}
.questionElement > label{
    display: flex;
    flex-direction: row;
}
.questionElement > label > input{
    width: auto;
    height: auto;
}
#containerForTests{
    border-top: 1px dashed black;
    margin-top: 5px;
    padding-top: 5px;
}
/* ==================================================================================================== */
/* О сайте */

/* ==================================================================================================== */
/* ==================================================================================================== */
/* Личный кабинет */
.inputDownloadLaboratoryWork{
    border: none;
    width: auto;
    margin-left: 10px;
}
#personalAccount{
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 5px;
}
#containerForLaboratoryWorks{
    border-top: 1px dashed black;
    margin-top: 5px;
    padding-top: 5px;
}
#personalAccountStudent{
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 5px;
}
/* ==================================================================================================== */